.root {
	-fx-background-image: url(background_indra.png); 
}

.Btns {
	-fx-background-color: linear-gradient(#000, #2A5058);
	-fx-background-radius: 100.0;
	-fx-background-insets: 0.0;
	-fx-text-fill: white;	
}

.Btns:hover {
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 1.0), 5.0, 0.0, 0.0, 1.0);
	-fx-background-color: #fff;
	-fx-text-fill: black;
}

.Combos {
	-fx-cursor: hand; 
	-fx-font-family: "Arial black"; 
	-fx-background-color: white; 
	-fx-font-style: italic;		
	-fx-border-style: solid;
}

#listFluxos {
	-fx-cursor: hand;	
	-fx-background-color: #002342;	
	-fx-background-color: white;
	-fx-border-style: solid;	
	
}

#listFluxos:hover {
	-fx-cursor: hand;
}

#lblSalvar {
	-fx-font-style: italic;
}

#cbGrabar {
	-fx-cursor: hand;
}

#txfPerfilTeste {
	-fx-font-family: "Arial black";	
	-fx-font-align: "center";
}

#txfSeguradora {
	-fx-alignment: center;
}

.Labels {
	-fx-text-fill: black;
	-fx-font-size: 18.0;
	-fx-font-family: "Helvetica";
}

.LabelsTipoTeste {
	-fx-font-style: italic;		
}

.Txf {
	-fx-border-style: solid;
}

.Rb:hover {
	-fx-cursor: hand;
}